<div class="col-md-4 offset-md-4">
    <div class="content">
        <form>
            <div class="form-group">
                <label name="nombreInput">Nombre</label>
                <input type="text" class="form-control" name="nombreInput" placeholder="Juan Perez"
                    [(ngModel)]="persona.nombre">
            </div>
            <div class="form-group">
                <label name="cedulaInput">Cédula</label>
                <input type="text" class="form-control" name="cedulaInput" placeholder="56823232"
                    [(ngModel)]="persona.cedula">
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono</label>
                <input type="text" class="form-control" placeholder="56823232" [(ngModel)]="persona.telefono"
                    name="telefono">
            </div>
            <div class="form-group">
                <label for="direccion">Dirección</label>
                <input type="text" class="form-control" placeholder="calle 123" [(ngModel)]="persona.direccion"
                    name="direccion">
            </div>
            <div class="form-group">
                <label name="usuarioInput">Usuario</label>
                <input type="text" class="form-control" placeholder="miUsuer" [(ngModel)]="persona.usuario">
            </div>
            <button type="button" class="btn btn-warning btn-block" (click)="GuardarNuevaPersona()">Guardar</button>
        </form>
    </div>
</div>